<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Brand Search</title>
    </head>
    <body>
        <h1>Brands</h1>
        {% if brands is not empty %}
           <ul>
           {% for brand in brands %}
                   <h3>{{ brand.getBrandName }}</h3>
                   {% if brand.getStores is not empty %}
                   <ul>
                        {% for store in brand.getStores %}
                        <li>{{ store.getStoreName }}
                        {% endfor %}
                   </ul>
                   {% else %}
                       <p>This brand is not found in any store.</p>
                   {% endif %}
           {% endfor %}
           </ul>
        {% else %}
        <p>
           No brands added yet!
        </p>
        {% endif %}
        <form action="/brands/search" method="get">
            <label for="title">Search by Brand Name</label>
            <input type="text" name="title">
            <button type="submit" class="btn btn-success" name="button">Search</button>
        </form>

        <p>
            <a href="/brands/add">Add</a> a Brand.
        </p>
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
