<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Store Search</title>
    </head>
    <body>
        <h1>Stores</h1>
        {% if stores is not empty %}
           <ul>
           {% for store in stores %}
                   <h3>{{ store.getStoreName}}</h3>
                   {% if store.getBrands is not empty %}
                   <ul>
                       <h4>Brands</h4>
                        {% for brand in store.getBrands %}
                        <li>{{ brand.getBrandName }}
                        {% endfor %}
                   </ul>
                   {% else %}
                       <p>This store has no brands.</p>
                   {% endif %}
                    <p><a href="/store/{{ store.getId }}/edit">Edit this Store</a></p>
                   </form>
           {% endfor %}
           </ul>
        {% else %}
        <p>
           No stores added yet!
        </p>
        {% endif %}
        <form action="/stores/search" method="get">
            <label for="store_name">Search by Store Name</label>
            <input type="text" name="store_name">
            <button type="submit" class="btn btn-success" name="button">Search</button>
        </form>
        <p>
            <a href="/stores/add">Add</a> a Store.
        </p>
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
